

<!DOCTYPE html>
<html>
<head>
	<title>Corbital Pvt Ltd</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
  
	<link rel="stylesheet" type="text/css" href="/stylesheets/about.css">
</head>
<body>
 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="/images/logo.jpg"></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="contact">contact</a></li>
        <li><a href="careers">Careers</a></li>
        <li><a href="ReachUs">Reach Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="register">Signup  <i class="fa fa-user-plus"></i></a></li>
        <li><a href="login">Login  <i class="fa fa-user"></i></a></li>
        <!-- <ul class="nav navbar-nav navbar-right nav-pills"> -->
                <li><a href="https://www.facebook.com/Corbital-trading-Co-170098600461238/"><i class="fa fa-lg fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/corbitalco/"><i class="fa fa-lg fa-instagram"></i></a></li>
</ul>


      </ul>
    </div>
  </div>
 </nav>
 <div class="container">
 	<div class="row">
 		<div class="col-lg-12">
 			<div class="content">
 		
 		<link rel="stylesheet" type="text/css" href="/stylesheets/about.css">
 
 
 <h2 class='banner-text'>
<span>ABOUT US</span>
</h2>
<div class='containera'>
<h2 class='prodct-heading'>Profile</h2>
<p>Corbital trading Pvt Ltd has an unshaken trust in the industry, by supplying quality products and its services. Corbital is an end-to-end Indian Aluminium Composite Panel Suppliers.The head office is located in Randathani ,Kerala</p>

<p>The entir-class product is Made in India.Spread over to Through its pan India presence.</p>

</div>
<div class='cmd-msg-section'>
<div class='container'>
<h2 class='prodct-heading'>Message</h2>
<div class='cmd-section'>
<div class='cmd-img'>
<p> Managing Director,Corbital</p>
</div>
<div class='cmd-desp'>
<p>Dear Friends,</p>

<p>We had been looking to invest in a product that would be good for the environment and internationally accepted. We started out by importing ACP in 2018 to Markets in Kerala. </p>

<p>Since then with the trust and support of quality conscious architects, builders and  designers we have grown into one of the most formidable partners of architecture. The culture of concentrating our efforts on enabling great exterior and interior designs continues to this day.</p>

<p>In days to come our endeavour will be to bring about a complete paradigm shift in the way the industry functions. Our concerted drive will be to contribute towards uplifting the quality of ACP fabrication and empowering our customers with the right technical knowhow, design assistance and many more.</p>

<p>We will look forward to your continued trust and support in this new journey of ours as well.</p>

<div class="cmd-sign">
</div>

<div class='clear'></div>
</div>
</div>
</div>
</div>
 				
 			</div>
 		</div>
 	</div>
   
  </div>

 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
 <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
<%include partials/footer %>