

<!DOCTYPE html>
<html>
<head>
	<title>Corbital</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	
	<link rel="stylesheet" type="text/css" href="/SCSS/loader.scss">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
  <link rel="icon" href="/images/Capture.png">
  
</head>
<body>
<!--  <section class="wrapper">
  <div class="spinner">
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
  </div>
</section>

<section class="wrapper dark">
  <div class="spinner">
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
  </div>
</section>
  
-->
 
        <!-- <div id="awwwards" class="sotd black bottom left fixed sk-hidden">
            <a href="http://www.awwwards.com" rel="nofollow" target="_blank">Awwwards</a>
        </div> -->

  
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="/images/logo.jpg"></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a> Products </a>
           <ul>
              <li><a href="plywood">PLYWOOD</a></li>
              <li><a href="HPL">HPL Sheet</a></li>
              <li><a href="WPC">PVC & WPC Board</a></li>
              <li><a href="#">ACP</a>
                <ul>
                  <li><a href="ACP">EasyBond</a></li>
                  <li><a href="ACP#Citybond">Citybond</a></li>
                </ul>
              </li>
            </ul>
          </li>
        
        
        <li><a href="about">About</a></li>
        
        
        
         <li><a href="contact">Contact</a></li>
    
        </ul>
        
       <ul class="nav navbar-nav navbar-right">
         
          <li><a>
 
          <i class="fa fa-phone" aria-hidden="true"></i> 09946299941</a>
          </li>
        
         
          <li><a href="https://www.facebook.com/Corbital-trading-Co-170098600461238/"><i class="fa fa-lg fa-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/corbitalco/"><i class="fa fa-lg fa-instagram"></i></a></li>
   
       </ul>
    </div>
  </div>
 </nav>