body{
background-color: #e9dccd;}

.secondary{
    height:350px;
}

     
       .secondary{ 
       background-image:url("/images/abt.jpg");
       background-position:left center;
       background-repeat: no-repeat;
       padding-top:60px;
       padding-left:50px;
       background-size: cover;

     }
      .grid{
      display:grid;
     
      margin-top:60px;
      padding-right:30px;
     }


        .contenttestclass{
        padding-left:50px;
        padding-top:60px;
        color:white;
      } 


.check{
	padding-left:50px;
    font-family:sans-serif;
    color:#131b4d;
    position:relative;
    }
.check p{
    font-size: medium;
    text-align: justify;
}

.check2{
    width:100%;
    height:250px;
    background-image:linear-gradient(to bottom right,#03bfff,#036eff);
    color:#fff;
    border-radius: 10px;
    margin-top: 60px;
    padding-top: 30px;
    text-align:center; 
    font-family: "Helvetica Neue";
      margin-bottom:40px;
      padding-bottom:60px;
    
    
}    

   .GRID2{
      display:grid;
      margin-top:60px;
      padding-left:50px;
   }
      
 
.new{    color: #131b4d;
padding-top:100px;
padding-left:50px;
}
.newa{margin-left:50px;
}

.check{
   padding-left:50px; 
    
}

   
@media (max-width:500px) {
    
    
    
	.secondary{
	padding-top:40px;
       padding-left:20px;
		padding-right: 20px;
	}
       
 .grid>img {
    display: none;
  }
  .check{
      padding-left: 10px;
      padding-right: 20px;
  }
  
        .contenttestclass{
        padding-left:20px;
        padding-top:50px;
      } 
.new{ 
padding-top:30px;
padding-left:30px;
}
  .check2{
    height:350px;
       padding-top: 50px;
  }
  .GRID2{
     
      margin-top:40px;
      padding-left:30px;
   }
      .newa{margin-left:30px;
}

}
