<!DOCTYPE html>
<html>
<head>
	<title>Corbital Pvt Ltd</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
  
	<link rel="stylesheet" type="text/css" href="/stylesheets/ReachUs.css">
	
	<style>
	background-image: url("/images/logo.jpg");
	</style>
</head>
<body>
 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="/images/logo.jpg"></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="contact">contact</a></li>
        <li><a href="#">Carriers</a></li>
        <li><a href="ReachUs">Reach Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#signup">Signup  <i class="fa fa-user-plus"></i></a></li>
        <li><a href="login">Login  <i class="fa fa-user"></i></a></li>
        <!-- <ul class="nav navbar-nav navbar-right nav-pills"> -->
                <li><a href="https://www.facebook.com/Corbital-trading-Co-170098600461238/"><i class="fa fa-lg fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/corbitalco/"><i class="fa fa-lg fa-instagram"></i></a></li>
</ul>


      </ul>
    </div>
  </div>
 </nav>

  <head>
    <style>
      /* Set the size of the div element that contains the map */
      #map {
        height: 500px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
  </head>
  <body>
    <div class= details>
  <h3> Reach Us</h3>

<h3>Address</h3>

<p>Randathani</p><p> Malappuram</p>
<p>Pin : 676510</p>
<p>Ph : 099462 99941</p>
<p>Email : corbitaltrading@gmail.com</p>
</div>
    

</div>


    </script>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125343.21278988366!2d76.00241873651228!3d10.965229315328493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba7b5b00dc35fb5%3A0x8220833c4ca7cf91!2sCorbital+Trading+company!5e0!3m2!1sen!2sin!4v1543671654949" width="600" height="450" frameborder="" style="border:0" allowfullscreen></iframe>
  </body>
</html>