<%include partials/header %>

  <div class="container">
 	  <div class="row">
 	    	<div class="col-lg-12">
   		   	<div class="content">
 		
 		     <link rel="stylesheet" type="text/css" href="/stylesheets/about.css">
 
<section class="secondary" >
  <div class="contenttestclass">
       <h2>About Us</h2>
  </div>
</section>
 <style>
    .grid{
      display:grid;
      grid-template-columns:1fr 1fr;
      grid-column-gap:2em;
      margin-top:60px;
     }
      
 </style>
 
     <div class="grid">
        <img src="/images/bt.jpg" style width=440px height=373px;>
   
  
      <div class='check'>
      <h2><strong>Profile</strong></h2>
       <p>Corbital Group has an unshaken trust in the industry, by supplying quality products and its services. Corbital is an end-to-end Indian Aluminium Composite Panel Suppliers.The head office is located in Kerala</p>

  <p>The entir-class products is Made in India.Spread over through its pan India presence.</p>

</div>










<div class='check'>
<h2 class=new><strong>Our Mission</strong></h2>
<p class=newa>To provide quality design and construction service at for fair price .
</div>
</div>
<div class='check2'>
<h3> Our Vision is to enable Our Customer's economic success by</h3>
<h1> Providing exceptional quality and value for every client, everyday</h1> 
</div>

<style>
   .GRID2{
      display:grid;
      grid-template-columns:1fr 1fr 1fr;
      grid-gap:2em;
      margin-top:60px;
      padding-left:40px;
   }
      
 </style>
<style>
.new{    color: #131b4d;
padding-top:100px;
}
</style>
     <h2 class=new ><strong>Our Values</strong> </h2>
<div class='GRID2'>

 <div><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="70" height="70"
viewBox="0 0 224 224"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,224v-224h224v224z" fill="none"></path><g fill="#1b61b4"><g id="surface1"><path d="M67.2,17.815c-14.8925,0 -29.785,5.705 -41.2125,17.1325c-22.855,22.855 -22.855,59.57 0,82.425l13.7375,13.7375c-0.1925,0.945 -0.2975,1.89 -0.2975,2.8525c0,3.57 1.33,6.7025 4.025,9.3975l6.265,6.2825c2.17,2.59 5.6,3.9025 9.0825,3.99c0.2275,3.08 1.505,6.125 3.92,8.54l6.2825,6.265c2.45,2.4675 5.32,3.745 8.54,3.955c0.0875,3.43 1.4,6.4575 3.99,9.0475l6.265,6.2825c2.17,2.59 5.6,3.9025 9.065,3.99c0.1925,3.22 1.47,6.0725 3.9375,8.54l6.2825,6.265c2.6775,2.695 5.81,4.0425 9.3975,4.0425c3.1325,0 6.72,-1.3475 9.3975,-4.0425l13.44,-13.44c2.31,-2.1 3.5525,-4.865 3.9025,-7.77c2.8875,-0.35 5.495,-1.61 7.7525,-3.8675l8.0675,-8.0675c2.415,-2.415 3.6925,-5.46 3.92,-8.54c3.4825,-0.0875 6.9125,-1.4 9.0825,-3.99l6.265,-6.2825c2.52,-2.31 3.7975,-5.4075 3.9725,-8.5925c3.29,-0.1925 6.5275,-1.505 9.0125,-4.41l6.265,-6.265c5.005,-4.585 5.3025,-12.2325 0.9975,-17.6225c10.4125,-10.6925 16.485,-25.2175 16.485,-40.6175c0,-15.68 -5.8275,-30.905 -17.0275,-41.6675c-22.855,-22.8375 -60.025,-22.8375 -82.88,-0.4375l-3.36,3.36l-3.36,-3.36c-11.4275,-11.4275 -26.32,-17.1325 -41.2125,-17.1325zM67.2,26.88c12.5475,0 25.095,4.9175 34.9475,14.3325l3.1325,3.1325l-22.8375,22.855c-8.0675,8.0675 -8.0675,21.0525 0,29.12c4.025,4.025 9.3975,6.2825 14.77,6.2825c5.3725,0 10.3075,-1.8025 14.35,-5.845l26.845,-26.845l52.43,53.2875c1.8025,1.785 1.8025,4.48 0,6.2825l-6.265,6.265c-1.785,1.785 -4.48,1.785 -6.265,0l-27.335,-26.88c-1.785,-1.785 -4.48,-1.785 -6.265,0c-1.785,1.785 -1.785,4.48 0,6.265l27.335,26.88c1.785,1.785 1.785,4.48 0,6.265l-6.2825,6.2825c-1.785,1.785 -4.48,1.785 -6.2825,0l-26.88,-26.88c-0.945,-0.9625 -2.1525,-1.365 -3.36,-1.3125c-1.19,-0.0525 -2.3975,0.35 -3.36,1.3125c-1.785,1.785 -1.785,4.48 0,6.2825l26.88,26.88c0.91,0.8925 1.365,1.785 1.365,3.115c0,1.3475 -0.455,2.2575 -1.365,3.15l-8.05,8.05c-1.0325,1.0325 -2.345,1.4 -3.605,1.26c-0.5075,-0.7525 -1.1025,-1.47 -1.785,-2.135l-6.265,-6.2825c-2.38,-2.38 -5.6875,-3.57 -9.03,-3.6575c-0.175,-3.185 -1.4525,-6.3875 -3.955,-8.89l-6.265,-6.265c-2.31,-2.5025 -5.39,-3.7975 -8.5575,-3.955c-0.0875,-3.43 -1.4,-6.44 -4.0075,-9.03l-6.265,-6.2825c-2.38,-2.38 -5.6875,-3.57 -9.03,-3.6575c-0.175,-3.185 -1.4525,-6.3875 -3.955,-8.89l-6.265,-6.265c-4.935,-5.3725 -13.4575,-5.3725 -18.83,0l-12.32,12.32l-12.32,-12.32c-19.2675,-19.2675 -19.2675,-50.6275 0,-69.895c9.8525,-9.415 22.4,-14.3325 34.9475,-14.3325zM156.3625,27.335c12.53,0 25.0775,4.9175 34.93,14.3325l0.455,0.4375c9.415,9.415 14.3325,21.5075 14.3325,34.9475c0,12.6875 -4.725,24.92 -13.7025,34.2475l-50.365,-50.3825c-0.0875,-0.07 -0.1925,-0.105 -0.2625,-0.175c-0.0875,-0.0875 -0.105,-0.1925 -0.1925,-0.2625c-1.785,-1.785 -4.48,-1.785 -6.265,0l-30.0125,30.0125c-4.48,4.48 -12.0925,4.48 -16.5725,0c-2.24,-2.24 -3.5875,-5.3725 -3.5875,-8.505c0,-3.1325 1.3475,-6.265 3.5875,-8.505l25.76,-25.76l0.21,0.21l6.72,-6.265c9.415,-9.415 22.4175,-14.3325 34.965,-14.3325zM66.7625,115.5875c0.8925,0 2.2225,0.4375 3.115,1.33l6.2825,6.2825c1.785,1.785 1.785,4.48 0,6.2825l-13.44,13.44c-1.785,1.785 -4.48,1.785 -6.2825,0l-6.265,-6.2825c-0.8925,-0.8925 -1.33,-1.785 -1.33,-3.1325c0,-1.3475 0.4375,-2.24 1.33,-3.15l13.44,-13.44c0.8925,-0.8925 1.8025,-1.33 3.15,-1.33zM85.5575,134.8375c1.3475,0 2.2575,0.455 3.15,1.365l6.265,6.265c0.8925,0.8925 1.3475,1.785 1.3475,3.1325c0,1.3475 -0.455,2.24 -1.3475,3.1325l-13.44,13.44c-1.785,1.785 -4.48,1.785 -6.265,0l-6.265,-6.265c-1.8025,-1.785 -1.8025,-4.48 0,-6.265l13.44,-13.44c0.8925,-0.91 1.785,-1.365 3.115,-1.365zM104.5625,153.6675c1.1725,0 2.2925,0.4375 2.9575,1.33l6.2825,6.2825c1.785,1.785 1.785,4.48 0,6.2825l-13.44,13.44c-1.8025,1.785 -4.4975,1.785 -6.2825,0l-6.2825,-6.2825c-0.8925,-0.8925 -1.33,-1.785 -1.33,-3.1325c0,-1.3475 0.4375,-2.24 1.33,-3.15l13.44,-13.44c0.91,-0.8925 2.135,-1.33 3.325,-1.33zM123.6375,172.9175c1.3475,0 2.2575,0.455 3.15,1.365l6.265,6.265c0.8925,0.8925 1.3475,1.785 1.3475,3.1325c0,1.3475 -0.455,2.24 -1.3475,3.1325l-13.44,13.44c-1.785,1.785 -4.48,1.785 -6.265,0l-6.265,-6.265c-0.91,-0.8925 -1.365,-1.8025 -1.365,-3.15c0,-1.33 0.455,-2.2225 1.365,-3.115l13.44,-13.44c0.8925,-0.91 1.785,-1.365 3.115,-1.365z"></path></g></g></g></svg><h2>Integrity</h2>

We say what we mean, and mean what we say. 
We stick to our commitments, treat everyone equitably, and communicate openly and honestly.

</div>

<div>
 <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="70" height="70"
viewBox="0 0 224 224"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,224v-224h224v224z" fill="none"></path><g><g id="surface1"><path d="M112,215.6c-57.11563,0 -103.6,-46.48437 -103.6,-103.6c0,-57.11563 46.48437,-103.6 103.6,-103.6c57.11563,0 103.6,46.48437 103.6,103.6c0,57.11563 -46.48437,103.6 -103.6,103.6z" fill="#1e629f"></path><path d="M112,11.2c55.58437,0 100.8,45.21563 100.8,100.8c0,55.58437 -45.21563,100.8 -100.8,100.8c-55.58437,0 -100.8,-45.21563 -100.8,-100.8c0,-55.58437 45.21563,-100.8 100.8,-100.8M112,5.6c-58.75625,0 -106.4,47.64375 -106.4,106.4c0,58.75625 47.64375,106.4 106.4,106.4c58.75625,0 106.4,-47.64375 106.4,-106.4c0,-58.75625 -47.64375,-106.4 -106.4,-106.4z" fill="#4788c7"></path><path d="M89.6,170.8c-10.80625,0 -19.6,-8.79375 -19.6,-19.6v-44.8c0,-16.07813 7.19687,-24.91563 13.51875,-32.70313c4.57187,-5.6 8.88125,-10.89375 8.88125,-17.69687v-2.8c0,-6.16875 5.03125,-11.2 11.2,-11.2c6.16875,0 11.2,5.03125 11.2,11.2v5.6c0,7.28437 -2.77813,18.15625 -5.35937,24.08437l-1.72813,3.91563h51.8875c6.16875,0 11.2,5.03125 11.2,11.2c0,4.65937 -2.95313,8.85937 -7.37187,10.47813l-3.87187,1.42187l2.75625,3.0625c1.85937,2.1 2.8875,4.725 2.8875,7.4375c0,4.65937 -2.95313,8.85937 -7.35,10.47813l-3.89375,1.42187l2.75625,3.0625c1.85937,2.1 2.90937,4.725 2.90937,7.4375c0,4.30937 -2.55937,8.26875 -6.475,10.10625l-3.21562,1.50937l2.20937,2.77813c1.225,1.53125 1.85937,3.325 1.85937,5.20625c0,4.6375 -3.7625,8.4 -8.4,8.4z" fill="#ffffff"></path><path d="M103.6,44.8c4.6375,0 8.4,3.7625 8.4,8.4v5.6c0,6.69375 -2.64687,17.28125 -5.14063,22.96875l-3.4125,7.83125h56.15313c4.6375,0 8.4,3.7625 8.4,8.4c0,3.47813 -2.23125,6.62813 -5.53437,7.85313l-7.74375,2.82187l5.49063,6.16875c1.00625,1.09375 2.1875,2.975 2.1875,5.55625c0,3.47813 -2.23125,6.62813 -5.53437,7.85313l-7.74375,2.82187l5.49063,6.16875c1.00625,1.09375 2.1875,2.975 2.1875,5.55625c0,3.25937 -1.85937,6.16875 -4.85625,7.56875l-6.43125,3.01875l4.44063,5.55625c0.56875,0.72187 1.24687,1.90312 1.24687,3.45625c0,3.08437 -2.51563,5.6 -5.6,5.6h-56c-9.25313,0 -16.8,-7.54687 -16.8,-16.8v-44.8c0,-15.09375 6.84687,-23.51563 12.90625,-30.93125c4.87812,-6.01563 9.49375,-11.68125 9.49375,-19.46875v-2.8c0,-4.6375 3.7625,-8.4 8.4,-8.4M103.6,39.2c-7.74375,0 -14,6.25625 -14,14v2.8c0,14.10937 -22.4,21.39375 -22.4,50.4v44.8c0,12.38125 10.01875,22.4 22.4,22.4h56c6.19063,0 11.2,-5.00937 11.2,-11.2c0,-2.64687 -0.9625,-5.03125 -2.47187,-6.95625c4.74687,-2.23125 8.07187,-7.02188 8.07187,-12.64375c0,-3.5875 -1.37813,-6.825 -3.60937,-9.29687c5.35937,-1.96875 9.20937,-7.06563 9.20937,-13.10313c0,-3.5875 -1.37813,-6.825 -3.60937,-9.29687c5.35937,-1.96875 9.20937,-7.06563 9.20937,-13.10313c0,-7.74375 -6.25625,-14 -14,-14h-47.6c2.7125,-6.2125 5.6,-17.52187 5.6,-25.2v-5.6c0,-7.74375 -6.25625,-14 -14,-14z" fill="#4788c7"></path></g></g></g></svg><h2>Quality</h2>
 We take pride in providing high value products and services that we stand behind, which ensures customer satisfaction, profitability and the future of our employees and our growth.
</div>

<div>
<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="70" height="70"
viewBox="0 0 224 224"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,224v-224h224v224z" fill="none"></path><g><g id="surface1"><path d="M204.4,95.2c0,13.9125 -11.2875,25.2 -25.2,25.2c-13.9125,0 -25.2,-11.2875 -25.2,-25.2c0,-13.9125 11.2875,-25.2 25.2,-25.2c13.9125,0 25.2,11.2875 25.2,25.2z" fill="#1d639f"></path><path d="M179.2,72.8c12.35937,0 22.4,10.04063 22.4,22.4c0,12.35937 -10.04063,22.4 -22.4,22.4c-12.35937,0 -22.4,-10.04063 -22.4,-22.4c0,-12.35937 10.04063,-22.4 22.4,-22.4M179.2,67.2c-15.46563,0 -28,12.53437 -28,28c0,15.46563 12.53437,28 28,28c15.46563,0 28,-12.53437 28,-28c0,-15.46563 -12.53437,-28 -28,-28z" fill="#4788c7"></path><path d="M137.2,182v-2.8c0,-23.16563 18.83437,-42 42,-42c23.16563,0 42,18.83437 42,42v2.8z" fill="#98ccfd"></path><path d="M179.2,140c21.6125,0 39.2,17.5875 39.2,39.2h-78.4c0,-21.6125 17.5875,-39.2 39.2,-39.2M179.2,134.4c-24.74063,0 -44.8,20.05937 -44.8,44.8v5.6h89.6v-5.6c0,-24.74063 -20.05937,-44.8 -44.8,-44.8z" fill="#4788c7"></path><path d="M70,95.2c0,13.9125 -11.2875,25.2 -25.2,25.2c-13.9125,0 -25.2,-11.2875 -25.2,-25.2c0,-13.9125 11.2875,-25.2 25.2,-25.2c13.9125,0 25.2,11.2875 25.2,25.2z" fill="#1d639f"></path><path d="M44.8,72.8c12.35937,0 22.4,10.04063 22.4,22.4c0,12.35937 -10.04063,22.4 -22.4,22.4c-12.35937,0 -22.4,-10.04063 -22.4,-22.4c0,-12.35937 10.04063,-22.4 22.4,-22.4M44.8,67.2c-15.46563,0 -28,12.53437 -28,28c0,15.46563 12.53437,28 28,28c15.46563,0 28,-12.53437 28,-28c0,-15.46563 -12.53437,-28 -28,-28z" fill="#4788c7"></path><path d="M103.6,42c0,12.38125 -10.01875,22.4 -22.4,22.4c-12.38125,0 -22.4,-10.01875 -22.4,-22.4c0,-12.38125 10.01875,-22.4 22.4,-22.4c12.38125,0 22.4,10.01875 22.4,22.4z" fill="#1d639f"></path><path d="M81.2,22.4c10.80625,0 19.6,8.79375 19.6,19.6c0,10.80625 -8.79375,19.6 -19.6,19.6c-10.80625,0 -19.6,-8.79375 -19.6,-19.6c0,-10.80625 8.79375,-19.6 19.6,-19.6M81.2,16.8c-13.9125,0 -25.2,11.2875 -25.2,25.2c0,13.9125 11.2875,25.2 25.2,25.2c13.9125,0 25.2,-11.2875 25.2,-25.2c0,-13.9125 -11.2875,-25.2 -25.2,-25.2z" fill="#4788c7"></path><path d="M165.2,42c0,12.38125 -10.01875,22.4 -22.4,22.4c-12.38125,0 -22.4,-10.01875 -22.4,-22.4c0,-12.38125 10.01875,-22.4 22.4,-22.4c12.38125,0 22.4,10.01875 22.4,22.4z" fill="#1d639f"></path><path d="M142.8,22.4c10.80625,0 19.6,8.79375 19.6,19.6c0,10.80625 -8.79375,19.6 -19.6,19.6c-10.80625,0 -19.6,-8.79375 -19.6,-19.6c0,-10.80625 8.79375,-19.6 19.6,-19.6M142.8,16.8c-13.9125,0 -25.2,11.2875 -25.2,25.2c0,13.9125 11.2875,25.2 25.2,25.2c13.9125,0 25.2,-11.2875 25.2,-25.2c0,-13.9125 -11.2875,-25.2 -25.2,-25.2z" fill="#4788c7"></path><path d="M2.8,182v-2.8c0,-23.16563 18.83437,-42 42,-42c23.16563,0 42,18.83437 42,42v2.8z" fill="#98ccfd"></path><path d="M44.8,140c21.6125,0 39.2,17.5875 39.2,39.2h-78.4c0,-21.6125 17.5875,-39.2 39.2,-39.2M44.8,134.4c-24.74063,0 -44.8,20.05937 -44.8,44.8v5.6h89.6v-5.6c0,-24.74063 -20.05937,-44.8 -44.8,-44.8z" fill="#4788c7"></path><path d="M137.2,123.2c0,13.9125 -11.2875,25.2 -25.2,25.2c-13.9125,0 -25.2,-11.2875 -25.2,-25.2c0,-13.9125 11.2875,-25.2 25.2,-25.2c13.9125,0 25.2,11.2875 25.2,25.2z" fill="#1d639f"></path><path d="M112,100.8c12.35937,0 22.4,10.04063 22.4,22.4c0,12.35937 -10.04063,22.4 -22.4,22.4c-12.35937,0 -22.4,-10.04063 -22.4,-22.4c0,-12.35937 10.04063,-22.4 22.4,-22.4M112,95.2c-15.46563,0 -28,12.53437 -28,28c0,15.46563 12.53437,28 28,28c15.46563,0 28,-12.53437 28,-28c0,-15.46563 -12.53437,-28 -28,-28z" fill="#4788c7"></path><path d="M70,210v-2.8c0,-23.16563 18.83437,-42 42,-42c23.16563,0 42,18.83437 42,42v2.8z" fill="#b6dcfe"></path><path d="M112,168c21.6125,0 39.2,17.5875 39.2,39.2h-78.4c0,-21.6125 17.5875,-39.2 39.2,-39.2M112,162.4c-24.74063,0 -44.8,20.05937 -44.8,44.8v5.6h89.6v-5.6c0,-24.74063 -20.05937,-44.8 -44.8,-44.8z" fill="#4788c7"></path></g></g></g></svg><h2>Team Work</h2>
<p>We seek to understand how we can best support each other and make choices that put team before individual performance.</p>
</div>
<div>
 <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="70" height="70"
viewBox="0 0 224 224"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,224v-224h224v224z" fill="none"></path><g><g id="surface1"><path d="M43.64063,215.55625c-9.47187,0 -18.375,-3.71875 -25.04687,-10.43438c-13.67188,-13.825 -13.5625,-36.18125 0.24062,-49.85312l84.39375,-83.49688l49.6125,50.09375l-84.39375,83.49687c-6.65,6.58437 -15.44375,10.19375 -24.80625,10.19375zM44.8,159.6c-10.7625,0 -19.55625,8.75 -19.6,19.5125c-0.04375,10.80625 8.70625,19.62187 19.49063,19.6875c10.87187,0 19.66563,-8.75 19.70937,-19.5125c0.04375,-10.80625 -8.70625,-19.62187 -19.49063,-19.6875z" fill="#dff0fe"></path><path d="M103.22813,75.73125l45.65313,46.1125l-82.40313,81.52812c-6.125,6.05938 -14.24063,9.38438 -22.8375,9.38438c-8.72813,0 -16.90937,-3.4125 -23.05625,-9.60313c-12.57812,-12.70937 -12.49062,-33.31563 0.24063,-45.89375l82.40313,-81.52812M44.77813,201.6h0.02187c12.29375,0 22.33437,-9.99687 22.4,-22.29063c0.06563,-12.35937 -9.93125,-22.44375 -22.4,-22.50937c-12.29375,0 -22.33437,9.99687 -22.4,22.29063c-0.06563,12.35937 9.93125,22.44375 22.29063,22.50937h0.0875M103.27187,67.8125l-86.38437,85.46563c-14.94063,14.7875 -15.05,38.87187 -0.2625,53.8125c7.4375,7.50313 17.2375,11.26563 27.0375,11.26563c9.66875,0 19.3375,-3.65313 26.75313,-11.00313l86.38437,-85.46563zM44.8,196c-0.02187,0 -0.06563,0 -0.0875,0c-9.275,-0.04375 -16.75625,-7.6125 -16.7125,-16.8875c0.04375,-9.25313 7.56875,-16.7125 16.8,-16.7125c0.02187,0 0.06563,0 0.0875,0c9.275,0.04375 16.75625,7.6125 16.7125,16.8875c-0.04375,9.23125 -7.56875,16.7125 -16.8,16.7125z" fill="#245f8b"></path><path d="M163.99687,131.79687c-17.675,0 -35.83125,-8.09375 -49.83125,-22.24687c-25.22187,-25.4625 -29.07187,-62.69375 -8.575,-82.99375c10.9375,-10.82813 30.0125,-18.1125 47.44687,-18.1125c7.175,0 13.7375,1.18125 19.53437,3.47812l-41.36562,40.99375l10.17187,29.64063l29.55313,10.47812l41.34375,-40.97187c8.64063,22.24687 -0.56875,52.39063 -15.20313,66.89375c-8.4875,8.4 -19.92812,12.84062 -33.075,12.84062z" fill="#dff0fe"></path><path d="M153.0375,11.24375c5.14063,0 9.95313,0.6125 14.35,1.88125l-36.90313,36.575l-2.51562,2.47187l1.15937,3.325l9.16563,26.6875l0.875,2.55938l2.55937,0.89687l26.6,9.45l3.30313,1.18125l2.51562,-2.47187l36.90313,-36.575c5.73125,20.67187 -2.84375,46.76875 -15.96875,59.74063c-7.9625,7.89687 -18.70313,12.05313 -31.10625,12.05313c-16.90937,0 -34.36563,-7.80938 -47.84063,-21.41563c-11.83437,-11.96563 -19.18437,-26.90625 -20.67187,-42.04375c-1.44375,-14.72187 2.84375,-27.84687 12.075,-36.99062c10.47813,-10.36875 28.74375,-17.325 45.5,-17.325M153.0375,5.64375c-18.65937,0 -38.17187,7.7875 -49.41563,18.92187c-21.63437,21.41563 -17.80625,60.35313 8.55313,86.95313c15.02813,15.20312 34.16875,23.07812 51.82187,23.07812c13.3,0 25.74688,-4.4625 35.04375,-13.65c16.42813,-16.275 25.83437,-50.35625 14.175,-73.7625l-43.00625,42.6125l-26.6,-9.45l-9.1875,-26.6875l43.00625,-42.6125c-7.35,-3.74062 -15.79375,-5.40312 -24.39063,-5.40312z" fill="#245f8b"></path></g></g></g></svg><h2>Service</h2>
 <p>Our great service helps organisations drive the customer acquistion retenstion and efficency that make leading companies successful</p>
 
</div>
<div>
 <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="70" height="70"
viewBox="0 0 224 224"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,224v-224h224v224z" fill="none"></path><g fill="#245f8b"><path d="M66.5,21c-28.96473,0 -52.5,23.82465 -52.5,52.5c0,9.99833 4.56256,18.57406 8.76367,24.8418c4.20111,6.26774 8.49023,10.47266 8.49023,10.47266l19.64648,19.66016l9.89844,-9.89844l-19.70117,-19.71484l-0.01367,-0.01367c0,0 -3.30216,-3.25107 -6.68555,-8.29883c-3.38341,-5.04743 -6.39844,-11.64716 -6.39844,-17.04883c0,-21.02465 17.20473,-38.5 38.5,-38.5c20.9053,0 40.29101,20.42578 40.29101,20.42578l5.20899,5.82422l5.20899,-5.82422c0,0 19.38571,-20.42578 40.29101,-20.42578c21.29527,0 38.5,17.47535 38.5,38.5v3.5h14v-3.5c0,-28.67535 -23.53527,-52.5 -52.5,-52.5c-24.02424,0 -39.51182,14.42052 -45.5,20.52148c-5.98818,-6.10096 -21.47576,-20.52148 -45.5,-20.52148zM156.87109,69.9043l-4.94922,4.94922l-23.36524,23.36524h-2.32422h-24.95117c-1.88327,0.0002 -3.68703,0.75916 -5.00391,2.10547l-24.37695,24.8418c-9.29829,9.30252 -10.01658,20.5362 -7.4375,27.89063c2.57908,7.35443 7.62891,11.89453 7.62891,11.89453c0.19264,0.19278 15.00806,15.01501 29.51758,29.51758c8.9794,8.97509 20.10667,9.56662 27.43945,7.17774c7.33279,-2.38888 12.07226,-7.0957 12.07226,-7.0957c0.02763,-0.03165 0.05498,-0.06356 0.08203,-0.0957l54.66016,-54.66016l4.94922,-4.94922l-9.89843,-9.89844l-4.94922,4.94922l-54.57812,54.57813c0,0 -2.80465,2.5956 -6.67187,3.85547c-3.86721,1.25987 -7.58442,1.84647 -13.20703,-3.77344c-14.6004,-14.59339 -29.70899,-29.69531 -29.70899,-29.69531c-0.06256,-0.06503 -0.12638,-0.12884 -0.19141,-0.19141c0,0 -2.66133,-2.60898 -3.9375,-6.24805c-1.27616,-3.63907 -1.9938,-7.23194 4.12891,-13.35742c0.01833,-0.01813 0.03656,-0.03636 0.05468,-0.05469l22.36719,-22.79101h10.33593l-7.99805,7.99805l-4.94922,4.94922l9.89844,9.89844l4.94922,-4.94922l45.36328,-45.36328l4.94922,-4.94922zM178.71875,77.75195l-4.94922,4.94922l-42.46485,42.46484l-4.94922,4.94922l9.89844,9.89843l4.94922,-4.94922l42.46484,-42.46484l4.94922,-4.94922zM186.56641,99.59961l-4.94922,4.94922l-35.46484,35.46484l-4.94922,4.94922l9.89844,9.89844l4.94922,-4.94922l35.46484,-35.46485l4.94922,-4.94922z"></path></g></g></svg><h2>Honesty</h2><p>Our clients can always count on our HONESTY – we won’t always have the answers, but we will always be candid, sincere, and authentic.
</p></div>

</div>



<div class='container'>
  <div class='check'>
  <h2 class='prodct-heading'>Message</h2>
   
       <p> Managing Director,Corbital</p>


<p>We had been looking to invest in a product that would be good for the environment and internationally accepted. We started out by importing ACP in 2018 to Markets in Kerala.

Since then with the trust and support of quality conscious architects, builders and  designers we have grown into one of the most formidable partners of architecture. The culture of concentrating our efforts on enabling great exterior and interior designs continues to this day.

In days to come our endeavour will be to bring about a complete paradigm shift in the way the industry functions. Our concerted drive will be to contribute towards uplifting the quality of ACP fabrication and empowering our customers with the right technical knowhow, design assistance and many more.

We will look forward to your continued trust and support in this new journey of ours as well.</p>

</div>
</div>
 				
 			</div>
 		</div>
 	</div>
   
  </div>

 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
 </div>
</body>
<%include partials/footer %>