<%include partials/header %>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Corbital</title>
        <link href="https://fonts.googleapis.com/css?family=Bitter|Lato" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
        <link rel="stylesheet" href="stylesheets/ACP.css">
        
    </head>

    <body>
       

        <main>
            <article>

             <!--   <section id="home" class="block -fullwidth">
                    
                   <div class="container">
  
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  
 	<div class="row">
 		<div class="col-lg-12">
 			<div class="content">
 	
 			</div>
 		</div>
 	</div>
   
  </div>
                    
                  <!--  <div class="overlay"></div>
                    
                    <div class="block__content text-center">
                        <span class="font1"><h1>Corbital</h1></span>
                         <span class="font2"><h2>Transforming Outlook</h2></span>
                       
                    </div>       
                                 </section>-->
                
                <section id="about" class="block__wrapper">
                    <div class="block">
                        <div class="block__content -text">
                            <h2>Aluminium Composite Panel</h2>
                            <div class="intro">
Aluminium Composite Panel or ACP sheets are now a days widely used for exteriors, interior applications and signage.It is available
different colours and finishes like wood, stone, dual-tone etc.It's folding property allows it into design shapes that can’t be achieved by any other material.
 Our company supplies mainly two types of ACP EasyBond and CityBond
                               
 </div>
                            
                        </div>
                    </div>
                </section>

                <section id="EasyBond" class="block__wrapper">
                    <div class="block">
                        <div class="block__content -text">
                            <h2>EasyBond</h2>
                            <div class="intro">Easybond Aluminium composite panels are widely used for Building facade and Design, Signage background, Home interior purposes, Partitioning, Wall Linings, and Suspended Ceilings, Industrial Applications, etc. Easybond is an internationally recognized product providing revolutionary solutions to the Sign, Advertising and Construction sectors. Easybond is a premium quality composite panel featuring two 0.30mm Aluminum sheets sandwiching a Polyethylene core. Panels are available in wide variety of color ranges, 3mm and 4mm PE and PVDF coatings. PE colors come with a 5-Year outdoor warranty whereas, PVDF with a 15-Year outdoor warranty.</div>
                           
                        </div>
                    </div>
                </section>
                
                <section id="CityBond" class="block__wrapper">
                    <div class="block">
                        <div class="block__content -text">
                            <h2>CityBond</h2>
                            
                             <div class="intro">citybond is driven by its vision of creating a rich visual palette through its range of architectural decor material for interiors as well as exteriors.citybond Aluminium Composite Panel Sheets are non-combustible, eco-friendly and sustainable building material as per standards of international Construction and Signage industries.</div>
                        <div id="img">
        <img src="/images/Acp.jpg" align ="middle"></div>
                       
</div>
                            </div>
                        </div>
                    </div>
                </section>

            </article>
        </main>

        <footer>
            &copy; Corbital 2019
        </footer>

        <script src="main.js"></script>

    </body>

</html>