<%include partials/header %>
 <link rel="stylesheet" type="text/css" href="/stylesheets/careers.css">
 <div class=careers>
     <h2>Careers</h2>
     <h3>
         Sorry, there are currently no positions open at this time
     </h3>
     <p>Currently we don’t have any open positions but if you are interested in possible future opportunities,check back soon</p>
 </div>
 
 <%include partials/footer %>
  <style>
  footer{position:absolute;}
 </style>