<%include partials/header %>



<link rel="stylesheet" type="text/css" href="/stylesheets/contact.css">
<div class="container">


      <h2  class="abc">Contact Us</h2>
    
<form>
    <div class="row">
      <div class="col-25">
        <label for="fname">First Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="firstname" placeholder="Your firstname.">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Last Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="lastname" placeholder="Your last name.">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="phoneno">Phone No</label>
      </div>
      <div class="col-75">
        <input type="text" id="phoneno" name="phoneno" placeholder="Enter your contact no.">
      </div>
    </div>
    <!--<div class="row">
      <div class="col-25">
          
          <label for="PhoneNo">Phone No</label>
          </div>
           <div class="col-75">
    <input type="tel" id="PhoneNo" name="Phone No" placeholder="Enter your Contact number">
  -->
    <div class="row">
      <div class="col-25">
        <label for="subject">Subject</label>
      </div>
      <div class="col-75">
        <textarea id="subject" name="subject" placeholder="Write something..." style="height:200px"></textarea>
      </div>
    </div>
    <div class="row">
         <div class="col-75">
      <input type="submit" value="Submit">
      </div>
    </div>
 </div>
 
 <div class ="emailsection">
   <i class="fa fa-envelope"></i> corbitaltrading@gmail.com<br>
   <i class="fa fa-phone" aria-hidden="true"></i> 09946299941
 </div>
 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
 <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>






