
<%include partials/header %>

 <div class="container">
 	<div class="row">
 		<div class="col-lg-12">
 			<div class="content">
 		
 		<link rel="stylesheet" type="text/css" href="/stylesheets/about.css">
 		<style>.navbar-inverse .navbar-nav>li>a {
    color:#5f5f5f;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #1220ed;    
}

.navbar-toggle{background-color: #333;
}
</style>
 
 
 <h2 class='banner-text'>
<span>ABOUT US</span>
</h2>
<div class='containera'>
<h2 class='prodct-heading'>Profile</h2>
<p>Corbital Group has an unshaken trust in the industry, by supplying quality products and its services. Corbital is an end-to-end Indian Aluminium Composite Panel Suppliers.The head office is located in Kerala</p>

<p>The entir-class products is Made in India.Spread over through its pan India presence.</p>

</div>
<div class='containera'>
<h2 class='prodct-heading'>Mission</h2>
<p>To provide quality design and construction service at fair price
</div>
</div>
<div class='containera'>
<h2 class='prodct-heading'>Vision</h2>
<p>To be the contractor-of -choice in the market we serve,providing exceptional quality and value for every client, everyday.
</div>
<div class='containera'>
<h2 class='prodct-heading'>Values</h2>
<p>Saftey- Honesty-Integrity</p><br>
<p>Quality-Service-Teamwork </p></br>

</div>




<div class='cmd-msg-section'>
<div class='container'>
<h2 class='prodct-heading'>Message</h2>
<div class='cmd-section'>
<div class='cmd-img'>
<p> Managing Director,Corbital</p>
</div>
<div class='cmd-desp'>

<p>We had been looking to invest in a product that would be good for the environment and internationally accepted. We started out by importing ACP in 2018 to Markets in Kerala. </p>

<p>Since then with the trust and support of quality conscious architects, builders and  designers we have grown into one of the most formidable partners of architecture. The culture of concentrating our efforts on enabling great exterior and interior designs continues to this day.</p>

<p>In days to come our endeavour will be to bring about a complete paradigm shift in the way the industry functions. Our concerted drive will be to contribute towards uplifting the quality of ACP fabrication and empowering our customers with the right technical knowhow, design assistance and many more.</p>

<p>We will look forward to your continued trust and support in this new journey of ours as well.</p>

<div class="cmd-sign">
</div>

<div class='clear'></div>
</div>
</div>
</div>
</div>
 				
 			</div>
 		</div>
 	</div>
   
  </div>

 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
 <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
<%include partials/footer %>