<%include partials/header %>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Corbital</title>
        <link href="https://fonts.googleapis.com/css?family=Bitter|Lato" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
        <link rel="stylesheet" href="stylesheets/contents.css">
        
    </head>

    <body>
<div id="slideshow2">
  <div class="slide-wrapper">
    <div class="slide"><h1 class="slide-number">1</h1></div>
    <div class="slide"><h1 class="slide-number">2</h1></div>
    <div class="slide"><h1 class="slide-number">3</h1></div>
    <div class="slide"><h1 class="slide-number">4</h1></div>
    <div class="slide"><h1 class="slide-number">5</h1></div>
  </div>
</div>
                
        <aside id="offcanvas" class="offcanvas">
            <div class="offcanvas__content">
                <a id="btnClose" class="offcanvas__close">
                    <span></span>
                    <span></span>                    
                </a>
                <a class="offcanvas__item" data-scroll href="#about">About</a>
                <a class="offcanvas__item" data-scroll href="#menu">Menu</a>
                <a class="offcanvas__item" data-scroll href="#location">Location</a>
            </div>
        </aside>

        <main>
            <article>

                <section id="home" class="block -fullwidth">
                    
                   <div class="container">
  
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  
 	<div class="row">
 		<div class="col-lg-12">
 			<div class="content">
 	
 			</div>
 		</div>
 	</div>
   
  </div>
                    
                    <div class="overlay"></div>
                    
                    <div class="block__content text-center">
                        <span class="font1"><h1>Corbital</h1></span>
                         <span class="font2"><h2>Transforming Outlook</h2></span>
                       
                    </div>
                </section>
                
                <section id="about" class="block__wrapper">
                    <div class="block">
                        <div class="block__content -text">
                            <h2>About</h2>
                            <div class="intro">
                            Corbital trading Pvt Ltd has an unshaken trust in the industry, by supplying quality products and its services. Corbital is an end-to-end Indian Aluminium Composite Panel Suppliers.The head office is located in Randathani ,Kerala

The entir-class product is Made in India.Spread over to Through its pan India presence.
                                
                            </div>
                            <div class="grid">
                                <div class="grid__item" style="background-image:url(images/corbilam.jpg)"></div>
                                <div class="grid__item" style="background-image:url(images/people-2588594_640.jpg)"></div>
                                <div class="grid__item" style="background-image:url(https://images.unsplash.com/photo-1525947088131-b701cd0f6dc3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80)"></div>
                                <div class="grid__item" style="background-image:url(https://images.unsplash.com/photo-1534040385115-33dcb3acba5b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80 )"></div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="menu" class="block__wrapper">
                    <div class="block">
                        <div class="block__content -text">
                            <h2>Menu</h2>
                            <div class="intro">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis sagittis urna, a fermentum mauris. Mauris sagittis eu urna at sollicitudin. Sed et dui accumsan, vulputate dui ut, fringilla tellus. Vivamus a ex commodo, vulputate metus gravida, congue arcu. Fusce vehicula laoreet lorem vel lacinia. Etiam ac erat turpis. Morbi nec urna aliquet, placerat nisl ac, venenatis justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </div>
                            <div class="grid">
                                <div class="grid__item">
                                    <header>Our Products</header>
                                    <div class="grid__image" style="background-image:url(https://images.unsplash.com/photo-1524109231514-0dcf4f91709b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1496&q=80)"></div>
                                    <div class="grid__content">
                                        <p>CorbiPly</p>
                                        <p>CorbiWood</p>
                                        <p>CorbiLam</p>
                                        
                                    </div>
                                </div> 
                                <div class="grid__item">
                                    <header>Dealership</header>
                                    <div class="grid__image" style="background-image:url(https://images.unsplash.com/photo-1534356770196-b69fc0ac293b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80)"></div>
                                    <div class="grid__content">
                                        <p>Eurobond</p>
                                        <p>AIStrong</p>
                                        <p>VIVA</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
                <section id="location" class="block__wrapper">
                    <div class="block">
                        <div class="block__content -text">
                            <h2>Location</h2>
                            <div class="grid">
                                <div class="grid__item map">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125343.21278988366!2d76.00241873651228!3d10.965229315328493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba7b5b00dc35fb5%3A0x8220833c4ca7cf91!2sCorbital+Trading+company!5e0!3m2!1sen!2sin!4v1543671654949" width="400" height="300" frameborder="" style="border:0" allowfullscreen></iframe>
                                </div> 
                                <div class="grid__item">
                                    <header>Hours</header>
                                    <div class="grid__content">
                                        <p>
                                            Mon-Saturday-- 8.30am- 7pm<br>
                                            Sunday-- Holiday
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </article>
        </main>

        <footer>
            &copy; Corbital 2019
        </footer>

        <script src="main.js"></script>

    </body>

</html>