
<%include partials/header %>
 <link rel="stylesheet" type="text/css" href="/stylesheets/HPL.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
 
<div id="bannerimage"></div>
<div id="slideshow">
  <div class="slide-wrapper">
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></h1></div>
    <div class="slide"></div>
    <div class="slide"></div>
  </div>
</div>
  
                <section id="about" class="block__wrapper">
                    <div class="block">
                        <div class="block__content -text">
                            <h2>CorbiLam</h2>
                            <div class="intro">
Decorative surfaces are not only beautiful, but they are also purposeful.  
High Pressure Laminates (HPL) are one of the most durable decorative surfaces.  
When it’s time to give your design a new dimension, High Pressure Laminates (HPL) offer the flexibility and character you need
                               
 </div>
                            <div class="grid">
                                <div class="grid__item" style="background-image:url(images/)"></div>
                                <div class="grid__item" style="background-image:url(images/)"></div>
                                <div class="grid__item" style="background-image:url()"></div>
                                <div class="grid__item" style="background-image:url()"></div>
                            </div>
                        </div>
                    </div>
                </section>
