


<!DOCTYPE html>
<html>
<head>
	<title>Corbital Pvt Ltd</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/landing.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 

</head>
<body>
 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="/images/logo.jpg"></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        
        <li><a href="products">Products</a></li>
        <li><a href="about">About</a></li>
        
        <li><a href="contact">Contact</a></li>
        <li><a href="careers">Careers</a></li>
        <li><a href="ReachUs">Reach Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      
      
        <!-- <ul class="nav navbar-nav navbar-right nav-pills"> -->
                <li><a href="https://www.facebook.com/Corbital-trading-Co-170098600461238/"><i class="fa fa-lg fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/corbitalco/"><i class="fa fa-lg fa-instagram"></i></a></li>
</ul>


      </ul>
    </div>
  </div>
 </nav>


 <div class="container">
 	<div class="row">
 		<div class="col-lg-12">
 			<div class="content">
 		
 		<link rel="stylesheet" type="text/css" href="/stylesheets/about.css">
 
  </head>
 
  
  <body>
    <div class="container">
 	<div class="row">
 		<div class="col-lg-12">
 			<div class="content">
 		
 		<link rel="stylesheet" type="text/css" href="/stylesheets/ReachUs.css">
    
      <div style="width: 100%;">
        <div class= detailsa>
           <h3> Reach Us</h3>

           <h3>Address</h3>

           <p>Randathani</p><p> Malappuram</p>
           <p>Pin : 676510</p>
           <p>Ph : 099462 99941</p>
           <p>Email : corbitaltrading@gmail.com</p>
        </div>
      </div>
    </div>
</div>
</div>
</div>
</div>

 
  <%include partials/footer%>
  
  <style>
  footer{position:absolute;}
 </style>
  