
body {
  background-color: #fff;
  background-image:url("https://images.unsplash.com/photo-1542361344-6ebd6fe3fdc5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80");   background-size: cover;
    background-position: center;
}

.careers{
padding-left:60px;
padding-top:60px;
}