

<%include partials/header %>

<h1>this is the home page</h1>
<img src=" https://images.unsplash.com/photo-1538654769988-ff44c99337f6?ixlib=rb-0.3.5&s=f2ab02876203893e69fc0a897b63f578&auto=format&fit=crop&w=1534&q=80">

 <% include partials/footer %>